<h1>Oh oh, this look like a tremendous cocktail</h1>
<h2> <%= @cocktail.name %></h2>

<%= link_to "Add some magic?", new_cocktail_dose_path(@cocktail), class:'btn btn-danger'%>

<%= link_to 'Back', cocktails_path , class:'btn btn-primary'%>
